# Virtual environment
env/
*.venv
*.virtualenv

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Streamlit static files
.streamlit/

# Logs and temporary files
*.log
*.tmp
*.temp
*.out
*.err

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Test and coverage reports
.coverage
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/